    <footer class="main-footer">
    <div class="inner">
        <div class="row">
            <div class="col-8">
                <p><img src="/images/logo.svg" alt="PixiJS Logo" width="100" /></p>
                <p>&copy; 2021 PixiJS</p>
                <p>
                    A labor of love built by Mat Groves
                    <a href="https://twitter.com/doormat23" target="_blank">@doormat23</a> and the
                    <a href="https://github.com/pixijs/pixijs/wiki/Core-Team" target="_blank">PixiJS team</a>.
                </p>
            </div>
            <div class="col-4">
                <nav class="social-links">
                    <a href="https://twitter.com/pixijs" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/pixijs" target="_blank" class="github"><i class="fa fa-github"></i></a>
                    <a href="https://join.slack.com/t/pixijs/shared_invite/zt-dcem1map-uVuVGC7pZ0trF8SrcA2p9g" target="_blank" class="slack"><i class="fa fa-slack"></i></a>
                </nav>
            </div>
        </div>
    </div>
</footer>