<nav class="mobile-nav">
    {% include nav/link.html text='Home' url='/' class='' %}

    <a href="https://pixijs.io/guides/">Guides</a>
    <a href="https://github.com/pixijs/pixijs">GitHub</a>
    <a href="https://pixijs.io/examples/">Examples</a>
    <a href="https://pixijs.io/docs/">API Docs</a>

    <div class="mobile-sub-nav">
        <a href="https://github.com/pixijs/pixijs/discussions/" target="_blank"><span>Discussions</span></a>
        <a href="http://pixijs.io/customize/" target="_blank"><span>Customize</span></a>
        <a href="http://www.html5gamedevs.com/forum/15-pixijs/" target="_blank"><span>Game Devs Forum</span></a>

        {% include nav/link.html text='FAQ' url='/faq/' class='' %}
        {% include nav/link.html text='Tutorials' url='/tutorials/' class='' %}
        {% include nav/link.html text='Gallery' url='/gallery/' class='' %}
    </div>

    <a href="https://opencollective.com/pixijs" target="_blank" class="alt-nav-item" style="background-image: url(/images/icon-default-patron.png)">Support Us</a>
</nav>