<nav class="sub-nav">
    <i class="arrow"></i>
    <div class="row">
        <div class="col">
            <h6 class="bold">Examples</h6>
            <p>View PixiJS in action with a rich library of examples</p>
            <a href="http://pixijs.github.io/examples/" target="_blank"><span>View Examples</span></a>
        </div>
        <div class="col">
            <h6 class="bold">GitHub</h6>
            <p>Download the latest code, report an issue, as a question or contribute.</p>
            <a href="https://github.com/pixijs/pixi.js" target="_blank"><span>Go to GitHub</span></a>
        </div>
        <div class="col">
            <h6 class="bold">Documentation</h6>
            <p>Get started with the API.</p>
            <a href="http://pixijs.github.io/docs/" target="_blank"><span>View Docs</span></a>
        </div>
        <div class="col">
            <h6 class="bold">HTML 5 Game Devs Forum</h6>
            <p>Game specific support for PixiJS courtesy of HTML5 Game Dev.</p>
            <a href="http://www.html5gamedevs.com/forum/15-pixijs/" target="_blank"><span>Visit Forum</span></a>
        </div>
    </div>
</nav>
