<nav class="sub-nav">
    <i class="arrow"></i>
    <div class="row">
        <div class="col">
            <h6 class="bold">Discussions</h6>
            <p>Official discussion board for sharing ideas, asking questions and connecting.</p>
            <a href="https://github.com/pixijs/pixijs/discussions/" target="_blank"><span>Discuss</span></a>
        </div>
        <div class="col">
            <h6 class="bold">Customize</h6>
            <p>Tool for creating a custom build of PixiJS using only the bits you need.</p>
            <a href="http://pixijs.io/customize/" target="_blank"><span>Customize</span></a>
        </div>
        <div class="col">
            <h6 class="bold">Game Devs Forum</h6>
            <p>Game specific support for PixiJS courtesy of HTML5 Game Dev.</p>
            <a href="http://www.html5gamedevs.com/forum/15-pixijs/" target="_blank"><span>Explore</span></a>
        </div>
        <div class="col">
            <h6 class="bold">FAQ</h6>
            <p>Frequently asked questions about PixiJS.</p>
            <a href="/faq/" target="_blank"><span>Read More</span></a>
        </div>
        <div class="col">
            <h6 class="bold">Tutorials</h6>
            <p>Third-party resources, books and articles for using PixiJS.</p>
            <a href="/tutorials/" target="_blank"><span>Learn</span></a>
        </div>
        <div class="col">
            <h6 class="bold">Gallery</h6>
            <p>Inspiration from around the world of developers using PixiJS.</p>
            <a href="/gallery/" target="_blank"><span>Get Inspired</span></a>
        </div>
    </div>
</nav>
