---
layout: default
body_class: 'home'
---

<header class="homepage-header" id="homepage-header">
    <a class="github-fork-ribbon top-right fixed" href="https://github.com/pixijs/pixi.js" title="Fork me on GitHub">Fork me on GitHub</a>
    
    {% include page/sub-nav.html %}
    {% include page/main-nav.html %}

    <!-- <canvas id="pixi-demo"></canvas> -->
    <iframe class="animation" id="iframe-animation"></iframe>
    <i class="valign"></i>
    <div class="welcome">
        <div class="inner">
            <img src="/images/blank.gif" alt="PixiJS Logo" class="pixijs-logo" style="background-image:url({{ page.heading_image_path }})" />
            <h1>{{ page.heading }}</h1>
            <h4>{{ page.subheading }}</h4>
            <a href="https://github.com/GoodBoyDigital/pixi.js" target="_blank" class="button fixed">Download</a>
            <a href="/tutorials/" class="button fixed outline">Get Started</a>
        </div>
    </div>
    <iframe class="counter" src="https://ghbtns.com/github-btn.html?user=pixijs&repo=pixi.js&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
</header>

{% include page/header.html %}

<article class="main-content">
    {{ content }}
</article>