
body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    overflow-x: hidden;
    padding-top: 50px;
    background: $black;
    &.home {
        padding-top: 740px;
        @include transition(padding-top 1s $custom-ease);
        .touchevents & {
            padding-top: 0 !important;
            @include transition(none !important);
        }
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    color: $pink500;
    @include transition(color .3s $custom-ease);
    text-decoration: none;
    &:hover {
        color: $pink600;
        @include transition(color .3s $custom-ease);
    }
}

.ani-sft {
    @include transform(translateY(-40px));
    @include opacity(0);
}

.ani-sfb {
    @include transform(translateY(40px));
    @include opacity(0);
}

.ani-sfl {
    @include transform(translateX(-40px));
    @include opacity(0);
}

.ani-sfr {
    @include transform(translateX(80px));
    @include opacity(0);
}

.ani-lft {
    @include transform(translateY(-80px));
    @include opacity(0);
}

.ani-lfb {
    @include transform(translateY(80px));
    @include opacity(0);
}

.ani-lfl {
    @include transform(translateX(-80px));
    @include opacity(0);
}

.ani-lfr {
    @include transform(translateX(80px));
    @include opacity(0);
}

.margin-top-5 {
    margin-top: 5px !important;
}

.inner {
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    &.no-max {
        max-width: none
    }
    &.big-inner {
        max-width: 1440px
    }
}

.row {
    display: block;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    &:after {
        display: table;
        content: "";
        clear: both
    }
}

.col-0,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
    float: left;
    position: relative;
    padding: 20px;
    width: 100%
}

.type_1,
.type_2,
.type_3,
h1,
h2,
h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -.01 em
}

.underline:after {
    display: block;
    width: 100px;
    height: 3px;
    background: $blue300;
    content: "";
    margin: 13px auto 0
}

.type_4,
h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .02 em
}

.type_5,
.type_6,
h5,
h6 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0
}

.type_7,
h6.mono {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0
}

.type_8,
h6.bold {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: uppercase
}

.type_10,
p {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0
}

.type_9,
.big-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0
}

.type_11,
p.mono {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -.01 em
}

.type_13,
p.small-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .05 em
}

.button,
.type_12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .05 em;
    text-transform: uppercase
}

@media only screen and (min-width:481px) {
    .main-content .services .big-inner {
        padding: 0 20px
    }

    .main-content .faqs {
        padding: 69px 0 100px
    }

    .main-content .faqs .inner {
        padding: 0 20px
    }

    .main-content .faqs h2 {
        margin-top: 0;
        margin-bottom: 36px;
        color: $gray700;
        padding-left: 0
    }

    .main-content .faqs .faq-list {
        padding: 0 40px 50px;
        border: 2px solid $blue100
    }

    .main-content .faqs .faq-list h4 {
        margin: 40px 0 21px
    }

    .main-content .faqs .faq-list ul li .num {
        width: 16.66666667%;
        padding-left: 20px;
        margin-top: 19px;
        display: inline-block
    }

    .main-content .faqs .faq-list ul li h6 {
        width: 83.33333333%;
        padding-left: 0
    }

    .main-content .faqs .faq-list ul li .big-text {
        padding-left: 16.66666667%;
        padding-right: 8.33333333%
    }

    .homepage-header .welcome h1 {
        font-weight: 500;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: -.01 em
    }

    body {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px
    }

    .type_1,
    h1 {
        font-weight: 500;
        font-size: 65px;
        line-height: 75px;
        letter-spacing: -.01 em
    }

    .type_2,
    h2 {
        font-weight: 500;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: -.01 em
    }

    .type_3,
    h3 {
        font-weight: 500;
        font-size: 45px;
        line-height: 58px;
        letter-spacing: -.01 em
    }

    .type_4,
    h4 {
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: .02 em
    }

    .type_5,
    h5 {
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        letter-spacing: 0
    }

    .type_6,
    h6 {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0
    }

    .type_7,
    h6.mono {
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0
    }

    .type_8,
    h6.bold {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0;
        text-transform: uppercase
    }

    .type_10,
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0
    }

    .type_9,
    .big-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0
    }

    .type_11,
    p.mono {
        font-family: 'Roboto Mono';
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -.01 em
    }

    .type_13,
    p.small-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: .05 em
    }

    .button,
    .type_12 {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .05 em;
        text-transform: uppercase
    }
}

@media only screen and (min-width:600px) {

    .button {
        display: inline-block;
        width: auto;
        max-width: 100%;
        margin: 13px 13px 12px 12px;
        padding: 17px 20px 17px 35px
    }

    .button svg {
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 14px;
        margin-left: 35px;
        margin-top: 0;
        top: auto;
        right: auto;
        position: relative
    }

    .button.border-after {
        padding-right: 31px
    }

    .button.border-after:after {
        display: block
    }

    .button.outline {
        padding: 15px 18px 15px 33px
    }
}

@media only screen and (min-width:768px) {
    .homepage-header .welcome .pixijs-logo {
        width: 184px;
        height: 55.2px;
        background-size: 184px 55.2px
    }

    .col-1 {
        width: 8.33333333%
    }

    .col-2 {
        width: 16.66666667%
    }

    .col-3 {
        width: 25%
    }

    .col-4 {
        width: 33.33333333%
    }

    .col-5 {
        width: 41.66666667%
    }

    .col-6 {
        width: 50%
    }

    .col-7 {
        width: 58.33333333%
    }

    .col-8 {
        width: 66.66666667%
    }

    .col-9 {
        width: 75%
    }

    .col-10 {
        width: 83.33333333%
    }

    .col-11 {
        width: 91.66666667%
    }

    .col-12 {
        width: 100%
    }

    .sub-nav .row .col {
        width: 33.33333333%
    }

    .main-content .features {
        padding: 79px 0 88px;
        .row .col {
            width: 33.33%;
            margin-bottom: 80px
        }
        .devices {
            display: block
        }
        .button-center {
            margin-top: 40px
        }
    }

    .main-content .projects {
        padding: 79px 0 68px;
        .project-list .project {
            width: 50%
        }
    }

    .main-content .support {
        padding: 109px 0 108px
    }

    .main-content .features-list {
        padding: 89px 0 100px;
        .features-col {
            width: 50%;
            &.left-col {
                padding-right: 25px;
                li {
                    text-align: right;
                    display: block;
                    .text {
                        display: block;
                        padding-left: 0;
                        padding-right: 80px;
                    }
                    img {
                        float: right;
                        width: 50px;
                        height: auto
                    }
                }
            }
            &.right-col {
                padding-left: 25px;
                li {
                    text-align: left;
                    display: block;
                    .text {
                        display: block;
                        padding-left: 80px
                    }
                    img {
                        float: left;
                        width: 50px;
                        height: auto
                    }
                }
            }
        }
    }

    .main-content .get-started {
        padding: 89px 0 94px
    }
}

@media only screen and (min-width:900px) {
    .homepage-header .welcome h1 {
        font-weight: 500;
        font-size: 65px;
        line-height: 75px;
        letter-spacing: -.01 em
    }
}

@media only screen and (min-width:980px) {
    .sub-nav .row .col {
        width: 16.66666667%
    }

    .homepage-header .welcome .pixijs-logo {
        width: 184px;
        height: 55.2px;
        background-size: 184px 55.2px
    }
}

@media only screen and (min-width:1014px) {
    body {
        padding-top: 62px
    }

    .main-header {
        display: block
    }

    .mobile-header {
        display: none
    }
}

@media only screen and (min-width:1600px) {
    .main-content .projects .project-list {
        max-width: 1160px
    }

    .main-content .projects .project-list .project {
        max-width: 580px
    }

    .homepage-header .welcome .pixijs-logo {
        width: 230px;
        height: 69px;
        background-size: 230px 69px
    }
}