---
title: Gallery
description: 'Inspiration from around the world of developers using PixiJS.' 
---
<section class="projects">
	<div class="inner no-max">
		<h2 data-delay="0.3" data-speed="0.5" data-animation="short-from-bottom" class="underline ani-sfb">PixiJS Inspiration from Around the World</h2>
	</div>
	<div class="project-list margin-top-20">
		{% assign delay = 0.3 %}
		{% for entry in site.gallery_entries %}
			{% include components/gallery-entry.html delay=delay entry=entry %}
			{% assign delay = delay | plus: 0.2 %}
		{% endfor %}
	</div>
</section>